<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-toolbar color="primary">
  <span class="logo">Fleet Management</span>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="/vehicles" routerLinkActive="active">Vehicle List</a>
    <a mat-button routerLink="/vehicle/add" routerLinkActive="active">Add Vehicle</a>
    <a mat-button routerLink="/drivers" routerLinkActive="active">Drivers</a>
    <a mat-button routerLink="/route-list" routerLinkActive="active">Route List</a>
    <a mat-button routerLink="/add-route-history" routerLinkActive="active">Add Route History</a>
    <a mat-button routerLink="/goefence" routerLinkActive="active">Geofence</a>
  </nav>
  <span class="spacer"></span>
  <button mat-button routerLink="/signin">Sign In</button>
  <button mat-button routerLink="/signup">Sign Up</button>
</mat-toolbar>
<router-outlet></router-outlet>

  


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


